@import './colors';

// footer bottom BEGIN
.main {
	display: flex !important;
	flex-direction: column;
	min-height: 100vh;
	font-weight: normal;
	background: #fff;
	font-family: 'Jura', sans-serif;
}

.MuiButton-root,
.copyright {
	font-family: 'Jura', sans-serif;
}

header {
	border-bottom: 1px solid rgba($accent, 0.3);
	padding: 10px 0;
}

footer {
	border-top: 1px solid rgba($accent, 0.3);
	padding: 30px 0;
	margin-top: auto;
	color: $accent;
}

.copyright {
	text-align: center;
	font-weight: bold;
}
// footer bottom BEGIN

// LOGO begin
.logo {
	display: block;
	color: rgba($accent, 0.8);
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	&:hover {
		transform: translateY(1px);
		color: rgba($accent, 1);
		.logo__img {
			opacity: 1;
		}
	}
	&__img {
		width: 40px;
		margin-right: 10px;
		opacity: 0.8;
		transition: opacity 0.3s ease-in-out;
	}
	&__text {
		display: inline-block;
		vertical-align: top;
	}
	&__title {
		font-weight: 800;
		font-size: 30px;
		line-height: 1;
		display: block;
	}
}

.nav {
	display: inline-flex;
}

.MuiSvgIcon-root,
.MuiIconButton-label,
.MuiButton-label {
	color: $accent;
}

.Mui-selected {
	background: $accent !important;
}

.MuiIconButton-root {
	display: none !important;
}

.searchBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba($accent, 0.2);
	border-radius: 15px;
	padding: 0 15px;
	.searchIcon {
		margin-right: 10px;
	}
	.MuiInputBase-input {
		width: 70px;
		transition: all 0.3s ease-in-out;
		&:focus {
			width: 140px;
		}
	}
	.MuiSvgIcon-root {
		vertical-align: bottom;
	}
}

.content {
	padding: 40px 0;
}

.MuiPagination-root {
	text-align: center;
	margin: 30px auto 30px;
	.MuiPagination-ul {
		justify-content: center;
	}
}

@import './media';
